.bg{
    background:rgb(2,0,12);
    width:100%;
    height:660px;
    margin:00px;
    box-shadow:0px 0px 10px 8px red;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 15px;;
    
    
}

 #home img{
    width: 50px;
    height: 50px;
    /* filter:invert(100%); */
    display: block;
    position: absolute;
    /* border:2px solid red; */
    align-items:right;
    top: 25px;
    left: 95%;
    box-shadow: 0px 0px 12px 4px white !important ;
    border-radius:100%;
    transition:all 0.2s ease-in-out .1s;
} 
#home img:hover{
    filter:invert(100%);
    box-shadow: 0px 0px 12px 4px red !important;
    transform:scale(1.2);
    /* left:88%; */
    
}
.bg h2{
    
    font-size: 100px;
    -webkit-text-stroke:1px white;
    color:transparent;
    /* border:2px dashed red;  */
    position: relative;
    top:-10px;
      
}
.bg h2 c{
    color:white;
}
.bg h4{
    /* border:2px solid red; */
    color:white;
    position: relative;
    top:60px;
    font-size: 25px;
    font-family:cursive;
}

 img{
    width: 130px;
    height: 130px;
    /* filter:invert(100%); */
    display: block;
    position: relative;
    top: 70px;
    left: 0px;
    z-index: 99;
    /* border-bottom:2px solid rgb(33, 245, 13); */
    box-shadow: 0px 0px 12px 4px white;
    border-radius:100%;
    transition:all 0.5s ease-in-out .3s;
    animation: logo-flow 3s ease 2.8s 1 alternate;
}
@keyframes logo-flow{
    0%{
        box-shadow: none;
    }
    25%{
        /* box-shadow: none; */
        transform:rotate(360deg);
        box-shadow: 0px 0px 50px 20px rgb(255, 251, 1);
    }
    50%{
        /* box-shadow: 0px 0px 50px 20px rgb(140, 255, 46); */
        box-shadow: none;
    }
    75%{
        
        box-shadow: 0px 0px 50px 20px rgb(140, 255, 46);
    }
    100%{
        box-shadow: none;
    }

}
 img:hover{
    display: inline;
    
    width:130px;
    height:130px;
    /* border:3px solid red; */
    
    border-radius: 60%;
    box-shadow: 0px 0px 70px 2px yellow;
    filter:invert(100%);
    /* transform: scale(2); */
    transform:rotate(360deg);
}
.copy{
    color:white;
    text-align:center;
    position:relative;
    top:0px;
    
    top:-15px;
    /* background-color: black; */
    
}